# Mock VCR cassette - replace with real recording using record_official_responses.py
version: 1
interactions:
- request:
    body: null
    headers:
      X-API-KEY:
      - mock-api-key
    method: GET
    uri: https://api.fugle.tw/marketdata/v1.0/stock/intraday/candles/2330
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: |
        {
          "apiVersion": "1.0.0",
          "data": {
            "info": {
              "date": "2026-01-31",
              "mode": "twse-sem",
              "symbolId": "2330",
              "countryCode": "TW",
              "timeZone": "Asia/Taipei",
              "lastUpdatedAt": "2026-01-31T13:30:00.000000+08:00"
            },
            "candles": [
              {
                "at": "2026-01-31T09:05:00.000000+08:00",
                "open": 748.00,
                "high": 749.00,
                "low": 747.00,
                "close": 748.50,
                "volume": 1234567,
                "average": 748.25
              },
              {
                "at": "2026-01-31T09:10:00.000000+08:00",
                "open": 748.50,
                "high": 750.00,
                "low": 748.00,
                "close": 749.00,
                "volume": 2345678,
                "average": 749.00
              },
              {
                "at": "2026-01-31T09:15:00.000000+08:00",
                "open": 749.00,
                "high": 750.00,
                "low": 748.50,
                "close": 749.50,
                "volume": 1876543,
                "average": 749.25
              }
            ]
          }
        }
