# Mock VCR cassette - replace with real recording using record_official_responses.py
# This cassette provides baseline structure for compatibility testing without API key
version: 1
interactions:
- request:
    body: null
    headers:
      X-API-KEY:
      - mock-api-key
    method: GET
    uri: https://api.fugle.tw/marketdata/v1.0/stock/intraday/quote/2330
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: |
        {
          "apiVersion": "1.0.0",
          "data": {
            "info": {
              "date": "2026-01-31",
              "mode": "twse-sem",
              "symbolId": "2330",
              "countryCode": "TW",
              "timeZone": "Asia/Taipei"
            },
            "quote": {
              "isCurbing": false,
              "isCurbingRise": false,
              "isCurbingFall": false,
              "isTrial": false,
              "isOpenDelayed": false,
              "isCloseDelayed": false,
              "isHalting": false,
              "isClosed": false,
              "total": {
                "at": "2026-01-31T13:30:00.000000+08:00",
                "transaction": 15234,
                "tradeValue": 25678901234,
                "tradeVolume": 34567890,
                "tradeVolumeAtBid": 15234567,
                "tradeVolumeAtAsk": 19333323,
                "bidOrders": 8765,
                "askOrders": 9876,
                "bidVolume": 12345678,
                "askVolume": 13456789
              },
              "trial": {
                "at": "2026-01-31T09:00:00.000000+08:00",
                "bid": 745.00,
                "ask": 746.00,
                "price": 745.00,
                "change": -5.00,
                "changePercent": -0.67,
                "volume": 1234
              },
              "trade": {
                "at": "2026-01-31T13:29:55.123456+08:00",
                "bid": 744.00,
                "ask": 745.00,
                "price": 744.00,
                "volume": 100,
                "serial": 987654
              },
              "order": {
                "at": "2026-01-31T13:29:58.654321+08:00",
                "bids": [
                  {"price": 744.00, "volume": 5678},
                  {"price": 743.00, "volume": 8765},
                  {"price": 742.00, "volume": 9876},
                  {"price": 741.00, "volume": 10234},
                  {"price": 740.00, "volume": 11345}
                ],
                "asks": [
                  {"price": 745.00, "volume": 6789},
                  {"price": 746.00, "volume": 7890},
                  {"price": 747.00, "volume": 8901},
                  {"price": 748.00, "volume": 9012},
                  {"price": 749.00, "volume": 10123}
                ]
              },
              "priceHigh": {
                "price": 750.00,
                "at": "2026-01-31T10:15:23.456789+08:00"
              },
              "priceLow": {
                "price": 742.00,
                "at": "2026-01-31T11:22:33.789012+08:00"
              },
              "priceOpen": {
                "price": 748.00,
                "at": "2026-01-31T09:00:05.123456+08:00"
              },
              "priceAvg": {
                "price": 745.50,
                "at": "2026-01-31T13:29:55.123456+08:00"
              },
              "change": -4.00,
              "changePercent": -0.53,
              "amplitude": 1.07,
              "priceLimit": 2,
              "priceLimitHigh": 822.00,
              "priceLimitLow": 674.00,
              "previousClose": 748.00
            }
          }
        }
